*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    background-color: #265246;
    width: 100%;
    height: auto;
}
.my-logo{
    width: 200px;
    height: 175px;
}
.img-nav{
    padding-right: 0%;
}
main{
    margin top: 10px;
}
nav{
    display: flex;
}
.navbar-collapse{
    justify-content: space-between;
    justify-content: center;
}
.menu-header{

}
header ul li{
    padding: 15px 15px;
    font-size: 14px;
}
.menu-header{
    font-weight: 600;
}
.nav-button{
    border-radius: 4px;
}
.nav-button a{
    text-align: center;
}
.d-flex button{
    border: 1px solid #d2924d;
    color: #d2924d;
    margin-left: 3px;
}
#productosDestacados{
    margin-top: 10px;
}
h2 {
    text-align: center;
    font-size: 25px;
    color:#003049;
    padding: 30px;
}
#carouselExample{

}
.carousel-control-prev, .carousel-control-next {
    color: #d2924d;
}
.carrusel{
    display: flex;
    height: auto;
    justify-content: center;
    padding: 30px;
}
.carousel-item img{
    justify-content: space-between;
}
.carousel-inner{
    display: flex;
}
.carousel-item{
    text-align: center;
}
.boton-comprar{
    justify-content: center;
    border-color: #d2924d;
    color: white;
    background-color:#d2924d;
    border: 2px solid #003049;
    border-radius: 4px;
    padding: 2px;
}
.comprar{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boton-comprar:hover {
    background-color: #003049;
    color: white;
}
.comprar-ultimo{
    text-align: center;
}
.card-text{
    font-weight: bold;
}
.text-center{
    font-weight: bold;
}
p {
    color: #003049;
}
#categoria {
    text-align: center;
    padding: 30px;
    font-weight: bold;
    font-size:30px
}
.categoria {
    font-size: 25px;
    color: #003049;
    font-weight: 500;
    margin: 20px 30px;
    text-align: center;
}
.contenedor-tarjeta {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 10px 20px;
}
.card-shadow {
    padding: 10px;
    border: 1px solid #d2924d;
    background-color: #fff;
  }
.card-img-top {
    width: 100%;
    height: 230px;
}
.contenedor-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 10px 20px;
}
.card-serv {
    text-align: center
}
#quienes-somos {
    color: #003049;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 60px;
    padding: 10px 20px;
    text-align: justify;
}
#footer-1 {
    width: 100%;
    height: auto;
    background-color: #ECECE9;
    margin-top: 30px;
    display: flex;
    justify-content: space-between
}
#footer-2 {
    display: flex;
    justify-content: center;
    padding: 10;
}
.img-contacto {
    display: flex;
    width: 60px;
    height: 60px;
}
footer div p {
    color: #003049;
    font-family: "roboto" sans serif;
    font-size: 20px;
    padding: 10;
    text-align: center;
}
.footer-info {
    display:flex;
    flex-direction: column;
    border-color:#ff983f;
    padding: 20px; 
    font-weight: 600;
    color: #003049;
    align-items: center;
}
.footer-info > p{
    text-decoration: none;
}
.footer-info a{
    text-decoration: none;
    color:#003049
}
.footer-info ul{
    padding: 0;
    justify-content: center;
}
#Footer-2 {
    color: white!important;
    background-color: #003049;
    font-family: "roboto" sans serif;
    font-size: 30px
}
div ul li {
list-style: none;
}
.servicio-img {
    margin-bottom: 30px;
}
.form-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.form {
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-color: #ff983f;
    padding: 20px;
    margin: 20px;
    text-align: center;
    width: 45%;
    display: inline-block;
    vertical-align: top;
    border-radius: 3px;
}

.form h3 {
    font-size: 24px;
    color: #003049;
    margin-bottom: 10px;
}

.form img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
}

.form label {
    display: block;
    font-size: 18px;
    color: #003049;
    margin-top: 10px;
}

.form input[type="text"],
.form input[type="email"],
.form input[type="tel"],
.form select,
.form textarea,
.form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-color: #ff983f;
    font-size: 16px;
    color: #003049;
    border-radius: 4px;
}

.form input[type="submit"] {
    background-color: #003049;
    color: #fff;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: #ff983f;
    transition: background-color 0.3s ease;
}

.form p {
    font-size: 16px;
    color: #003049;
    margin-top: 20px;
}

.form strong {
    font-weight: bold;
}

.form select {
    font-size: 16px;
}
dl {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
    color: #003049;
    font-size: 18px;
    margin-top: 10px;
}

dd {
    margin-left: 0;
    padding-left: 30px;
    font-size: 16px;
    color: #003049;
}

h3 {
    text-align: center;
    font-size: 24px;
    color: #003049;
    margin: 10px 0;
    margin: 0;
    background-color: #d2924d;
}
dl {
    margin-top: 30px;
}
.definicion {
    text-align: center;
    margin-left: auto;
    margin-right: 30px;
    font-weight: 500;
}
.termino {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
}
.glosario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-glosario{

}

@media (max-width:375px){
    #footer-1{
        flex-direction: column;
        font-size: 15px;
        font-weight: 400px;
    }
    .img-contacto{
        display: flex;
        width: 50px;
        height: 50px;
    }
    #quienes-somos {
        font-weight: 400;
        font-size: 18px;
    }
}
@media (min-width:375px) and (max-width:573px){
    .img-contacto{
        width: 50px;
        height: 50px;
    }
    .form-container{
        align-items: center;
    }
    .form{
        width: 90%;
    }

    #footer-1{
        flex-direction: column;
        font-size: 15px;
        font-weight: 400px;
    }
    #quienes-somos {
        font-weight: 450;
        font-size: 20px;
    }
}
    .form-container{
        flex-direction: column;

    }
@media (min-width:600px){
    .comprar-ultimo{
        margin-top: 65px;
    }
}
@media (min-width:1252px){
    .contenedor-servicios{
        display: flex;
        justify-content: space-evenly;
    }
}
@media (min-width:574px){
    .form-container {
        flex-direction: row;
    }

}
