@media (max-width: 375px) {
    #footer-1 {
        flex-direction: column;
        font-size: 15px;
        font-weight: 400;
    }
    .img-contacto {
        display: flex;
        width: 50px;
        height: 50px;
    }
    #quienes-somos {
        font-weight: 400;
        font-size: 18px;
    }
    .carousel-inner 
        img {
        max-width: 200px;
        max-height: 175px;
        margin: 15px;  
    }
}
@media (min-width: 375px) and (max-width: 573px) {
    .img-contacto {
        width: 50px;
        height: 50px;
}
    .form-container {
        align-items: center;
    }
    .form {
        width: 90%;
    }
    #footer-1 {
        flex-direction: column;
        font-size: 15px;
        font-weight: 400;
    }
    #quienes-somos {
        font-weight: 450;
        font-size: 20px;
    }
    .form-container {
        flex-direction: column;
    }
}
@media (min-width: 768px) and (max-width: 2180px) {
    #footer-1{
        .container{
            display: flex;
            flex-direction: row ;
            justify-content: space-between;
        }
    }
}

@media (min-width: 1252px) {
    .img-contacto {
        width: 70px;
        height:  70px;}
    }
    .contenedor-glosario{
        img{
            height: 780px;
        }
    }
@media (min-width: 574px) {
    .form-container {
        flex-direction: row;
    }
    .img-contacto {
        width: 60px;
        height:  60px;}
}
@media (min-width: 600px) {
    .comprar-ultimo {
        margin-top: 65px;
    }
}
@media (min-width: 1px) and (max-width: 600px) {
    .carousel-item{
        img{
            max-width: 200px;
            max-height: 170px;
            margin: 15px;
            }
        }
    }
@media (min-width: 1298px) {
    .contenedor-servicios{
    grid-template-columns: repeat(auto-fill, minmax(18rem, calc((100% - 40px) / 3)));
    }
}