footer {
  background-color: $color-fondo;
    #footer-1 {
      height: auto;
      background-color: #265246;
      margin-top: 30px;
      display: flex;
      justify-content: space-between;
      .container {
        display: flex;
        flex-direction: row;
      }
    }
    #footer-2 {
      display: flex;
      color: white;
      justify-content: center;
      align-items: center;
      padding: 10px;
      background-color: $color-primario!important;
      font-family: "roboto", sans-serif;
      font-size: 30px;
        h4 {
          align-content: center;
          color: white;
        }
    }
    div {
      p {
        color: $color-primario;
        font-family: "roboto", sans-serif;
        font-size: 20px;
        padding: 10px;
        text-align: center;
      }
    }
    .footer-info {
      display: flex;
      flex-direction: column;
      border-color: $color-boton;
      padding: 20px;
      font-weight: 600;
      color: $color-primario;
      align-items: center;
      p {
        text-decoration: none;
        a {
          text-decoration: none;
          color: $color-primario;
        }
      }
      ul {
        padding: 0;
        justify-content: center;
      }
    }
    div {
      ul {
        li {
          list-style: none;
        }
      }
    }
}
